#*.c
*.o
#*.h
codes/apps/barnes/BARNES
codes/apps/fmm/FMM
codes/apps/ocean/contiguous_partitions/OCEAN
codes/apps/ocean/non_contiguous_partitions/OCEAN
codes/apps/radiosity/RADIOSITY
codes/apps/raytrace/RAYTRACE
codes/apps/volrend/VOLREND
codes/apps/water-nsquared/WATER-NSQUARED
codes/apps/water-spatial/WATER-SPATIAL
codes/kernels/cholesky/CHOLESKY
codes/kernels/fft/FFT
codes/kernels/lu/contiguous_blocks/LU
codes/kernels/lu/non_contiguous_blocks/LU
codes/kernels/radix/RADIX
#!codes/apps/radiosity/glibdumb/
#!codes/apps/radiosity/glibps/

codes/apps/volrend/inputs/*.tiff
codes/apps/ocean/contiguous_partitions/output.out
codes/apps/ocean/non_contiguous_partitions/output.out
codes/apps/fmm/times
codes/apps/radiosity/glibdumb/glib.a
codes/apps/radiosity/glibps/glibps.a
codes/apps/raytrace/inputs/car.rl

codes/apps/volrend/libtiff/libtiff.a
codes/apps/volrend/libtiff/mkg3states
